{% extends "base.html" %}
{% load static %}

    {% block aside %}
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>Username</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Students</li>
            <li>
                <a href="{% url 'student:home' %}">
                  <i class="fa fa-circle-o text-red"></i> <span>Student Voters</span>
                </a>
              </li>
  
            <li class="header" class="active">Portfolios</li>
            <li>
              <a href="{% url 'president:home' %}">
                <i class="fa fa-circle-o text-red"></i> <span>Presidents</span>
              </a>
            </li>
    
            <li>
              <a href="{% url 'gensecretary:home' %}">
                <i class="fa fa-circle-o text-yellow"></i> <span>General Secretaries</span>
              </a>
            </li>
    
            <li>
              <a href="{% url 'organizer:home' %}">
                <i class="fa fa-circle-o text-aqua"></i> <span>Organizers</span>
              </a>
            </li>
    
            <li>
              <a href="{% url 'treasurer:home' %}">
                <i class="fa fa-circle-o text-green"></i> <span>Treasurers</span>
              </a>
            </li>
    
            <li>
              <a href="{% url 'finofficer:home' %}">
                <i class="fa fa-circle-o text-red"></i> <span>FInance Officers</span>
              </a>
            </li>
    
            <li>
              <a href="{% url 'pro:home' %}">
                <i class="fa fa-circle-o text-aqua"></i> <span>PROs</span>
              </a>
            </li>
    
            <li>
              <a href="{% url 'wocom:home' %}">
                <i class="fa fa-circle-o text-yellow"></i> <span>Wocoms</span>
              </a>
            </li>
          </ul>
      </section>
      <!-- /.sidebar -->
    </aside>
      {% endblock aside %}

      {% block content %}
    <section class="content-header">
      <h1>
        Dashboard
        <small>{{page_title}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Dashboard Home</a></li>
        <li>{{page_title}}</li>
      </ol>
    </section>

<!-- Main content -->
<section class="content">
<div class="row">
    <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center">{{page_title}}</h1>
            <form method="post" action="">
                {% csrf_token %}
                <span>Are you sure you want to <b class="text-danger">DELETE</b> Portfolio with Name <b>{{object.lname}} {{object.fname}} {{object.oname}}</b> and Index Number: <b>{{object}}</b> ?</span>
                <input type="submit" value="Delete">
            </form>
            <br/>
            
            <div class="col-md-6 col-md-offset-3 text-center">
                <a href="/dashboard/{{unique_url}}/detail/{{object.pk}}" class="btn btn-primary">Go Back to {{object}}'s Page</a> 
              </div>
    </div>
</div>
</section>
      {% endblock content %}
