{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block header_title %}
  <title>IdeaHub | E-Voting</title>
    {% endblock header_title%}

    {% block meta_header %}
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
  <!-- Morris chart -->
  <link rel="stylesheet" href="{% static 'bower_components/morris.js/morris.css' %}">
  <!-- jvectormap -->
  <link rel="stylesheet" href="{% static 'bower_components/jvectormap/jquery-jvectormap.css' %}">
  <!-- Date Picker -->
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
{% endblock meta_header %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <!-- main content Wrapper -->
<div class="wrapper">

    {% block header %}
<!-- top navbar -->
  <header class="main-header">
    <!-- Logo -->
    <a href="{% url 'home' %}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>E</b>V</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>E-Voting</b>Admin</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {% block header_navigation %}
         
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
              <span class="hidden-xs">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">

                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!--end User account-->
          {% endblock header_navigation %}

          <!-- Control Sidebar Toggle Button -->
          <!-- <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
          <!-- End Control Sidebar -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- end top navbar -->
{% endblock header %}

    {% block aside %}
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Username</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Students</li>
          <li>
              <a href="{% url 'student:home' %}">
                <i class="fa fa-circle-o text-red"></i> <span>Student Voters</span>
              </a>
            </li>

          <li class="header" class="active">Portfolios</li>
          <li>
            <a href="{% url 'president:home' %}">
              <i class="fa fa-circle-o text-red"></i> <span>Presidents</span>
            </a>
          </li>
  
          <li>
            <a href="{% url 'gensecretary:home' %}">
              <i class="fa fa-circle-o text-yellow"></i> <span>General Secretaries</span>
            </a>
          </li>
  
          <li>
            <a href="{% url 'organizer:home' %}">
              <i class="fa fa-circle-o text-aqua"></i> <span>Organizers</span>
            </a>
          </li>
  
          <li>
            <a href="{% url 'treasurer:home' %}">
              <i class="fa fa-circle-o text-green"></i> <span>Treasurers</span>
            </a>
          </li>
  
          <li>
            <a href="{% url 'finofficer:home' %}">
              <i class="fa fa-circle-o text-red"></i> <span>FInance Officers</span>
            </a>
          </li>
  
          <li>
            <a href="{% url 'pro:home' %}">
              <i class="fa fa-circle-o text-aqua"></i> <span>PROs</span>
            </a>
          </li>
  
          <li>
            <a href="{% url 'wocom:home' %}">
              <i class="fa fa-circle-o text-yellow"></i> <span>Wocoms</span>
            </a>
          </li>
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
    {% endblock aside %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content %}
    <section class="content-header">
            <h1>
              Dashboard
              <small>{{page_title}}</small>
            </h1>
            <ol class="breadcrumb">
              <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Dashboard Home</a></li>
              <li class="active">{{page_title}}</li>
            </ol>
          </section>
      
      <!-- Main content -->
      <section class="content">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
                  <h1 class="text-center"></h1>
      
              <!-- start box-->
                        <div class="box">
                          <div class="box-header">
                            <h3 class="box-title text-center">{{page_title}}</h3>
      <!--         
                            <div class="box-tools">
                              <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
              
                                <div class="input-group-btn">
                                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                              </div>
                            </div> -->
                          </div>
                          <!-- /.box-header -->
                      <form action="" method="POST">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <input type="submit" value="Submit" class="btn btn-success">
                      </form>
                        </div>
                        <!-- /.box -->
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <a href="/dashboard/{{unique_url}}" class="btn btn-primary">View List</a> 
                        </div>
          </div>
      </div>
      </section>
      {% endblock content %}
  </div>
  <!-- /.content-wrapper -->

    {% block footer %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 3.0.5
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="{% url 'home' %}">IdeaHub E-voting</a>.</strong> All rights
    reserved.
  </footer>
    {% endblock footer %}
</div>
<!-- ./wrapper -->

  {% block meta_footer %}
<!-- jQuery 3 -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Morris.js charts -->
<script src="{% static 'bower_components/raphael/raphael.min.js' %}"></script>
<script src="{% static 'bower_components/morris.js/morris.min.js' %}"></script>
<!-- Sparkline -->
<script src="{% static 'bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
<!-- jvectormap -->
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- jQuery Knob Chart -->
<script src="{% static 'bower_components/jquery-knob/dist/jquery.knob.min.js' %}"></script>
<!-- daterangepicker -->
<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- datepicker -->
<script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
<!-- Slimscroll -->
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'dist/js/pages/dashboard.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
{% endblock meta_footer %}
</body>
</html>
