<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
</head>
<body>
    <h1>{{header_title}}</h1>
{% for contestant in object_list %}
<div>
<h3>{{contestant.contestant.username}}</h3>
<form method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="hidden" value="{{contestant.id}}" id="contestant_id" name="contestant_id">
    <input type="submit" value="Vote">
</form>
</div>
{% endfor %}
</body>
</html>