<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>{{header_title}}</h1>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>

</div>
</body>
</html>