<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged Out</title>
</head>
<body>
 <div>
        <h3 class="text-center text-info">You have Logged Out Successfully</h3>
   <div class="text-center">
       <h4><a href="{% url 'auth_user:login' %}">Login Again</a></h4>
   </div>
</div>
</body>
</html>